# Basic workflow for Github Actions
name: CI

# Triggers the workflow on push or pull request events but only for the master branch
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "tests"
  tests:
    name: Run build & tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run build all necessary images
        run: make build-all
      - name: Run lint
        run: make lint
      - name: Run the unit tests
        run: make test-unit
      - name: Run the end to end tests
        run: make test-e2e
